body {
    color:darkslategray;
    font-size: 1.3em;
    font-family:helvetica;
    background-color: white;
}

form {
    border: 1px solid #CCC;
    background-color: #F8F8F8;
}

input {
    background-color: #f8f8f8;
    font-size:1.3em;
    width: 500px;
    height: 30px;
    margin:0;
    outline:none;
    border-top-style:none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 0.5px dotted gray;
    padding:10px;
}

button {
    text-align: right;
    margin-left: 10px;
}

a {
    color: darkslategray;
    text-decoration: none;
}

.selected {
    color: teal;
}

.hidden {
    display:none;
}

#container {
    width: 900px;
    margin: 0 auto;
}

#left {
    float: left;
    width: 290px;
}

#right {
    float: left;
    margin-top: 20px;
    margin-left:10px;
    width: auto;
}

.chart-item {
  border: 1px dotted rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-left: 20px;
  float: left;
}
